<DOCTYPE! html>
    {% extends 'principal.html'%}
    {% load static %}
    <head> 
    {% block head %}
        <title> Plan de marketing </title>
    {% endblock %}
    </head>

 <body>
    {% block body %}
    <ul>
        <li>  <strong>Analisis de la situacion. </strong></li>
        <img src = "{% static "imagenes/software.jpg" %}" alt = "imagen"  width = "400mx"  height = "350mx" />
        
        <mr>
        <li><strong> Definicion de los Objetivos.</strong></li>
        <img src = "{% static "imagenes/shutt.jpg" %}" alt = "imagen"  width = "400mx" height = "350mx" />
        <br>
        <li><strong> Definir estrategias y tacticas.</strong></li>
        <img src = "{% static "imagenes/desarrollos.jpg" %}" alt = "imagen"  width = "400mx" height = "350mx" />
        <br>
        <li> <strong>Presupuesto.</strong></li>
        <img src = "{% static "imagenes/whatssap3.jpeg" %}" alt = "imagen"  width = "400mx" height = "350mx" />
        
    </ul>

    {% endblock %}

 </body>






















</html>