<DOCTYPE! html>
    {% extends 'principal.html'%}
    {% load static %}
    {% block head %}
        <head> 
            <title> Quienes somos </title>
           
        </head>
    {% endblock %}
    <body>
         
        {% block body %}
            <!--  Sobre nosotros texto -->
            <h2> Quienes somos? </h2>
            <br>
            <ul>
            <blockquote> <li>Somos una empresa Dominicana apacionada por la tecnologia, la simplicidad y las soluciones. en <strong> SOFTWARE EVOLUTION </strong> brindamos servicios de Software principalmente a pequeñas y medianas empresas.  </blockquote> </li>
            <br>
            <blockquote> <li>Nuestros servicios estan enfocados en ayudar a las empresas a mejorar su infraestuctura de Software, encontrar soluciones a sus problemas tecnologicos y aumentar la calidad de su servicio a traves de la tecnologia con 10 años de experiencia en este rubro, constantemente estamos actualizando nuestros servicios para estar al dia con los desarrollos tecnologicos ofreciendo asi soluciones innovadoras que nos permirten prevenir y solucionar los problemas de nuestros clientes.  </blockquote> </li>
            </ul>


            <p>
                <br>
            <h2> Valores de nuestra empresa </h2>
            </p>
            <br>
            <p>
            <h3> Mision: </h3>
            <br>
            
                <ul>
                    <li>  Brindar un sofware facil de utilizar, muy funcional y barato de adquirir, ofreciendo un servicio justo y de gran calidad a las pequeñas empresas y negocios que desean adaptarse a los nuevos tiempos y a las innovaciones tecnologicas del momento  </li>
                </ul>
            </p>
            <br>
            <p>
            <h3> Vision: </h3>
            <br>
            
                <ul>
                    <li>  Ser la empresa lider y la mas reconocida en la materia de la distribuicion y soporte de sistemas de manejos administrativos y contables, reconocida por la innovacion, simplicidad y valor de sus soluciones.  </li>
                </ul>
            </p>
            <br>
            <h3> Objetivos especificos  </h3>
            <br>

            <ul>
                <li> Ofrecer un software que facilite y agilice los procesos administrativos y contables para que sean mas rapidos y eficientes de realizar.</li>
                <br>
                <li> Implementar y representar los softwares que brinden a nuestros clientes las soluciones a sus necesidades y que se encuentran en el mercado actualmente.</li>
                <br>
                <li> Proveer un servicio de soporte y capacitacion a las pequeñas empresas acerca del uso del software de este proyecto.</li>
                <br>
                <li> Proveer un software de calidad y que sea de facil uso para los posibles clientes que quieran contratar nuestros servicios.</li>
                <br>
                <li> Ser intermediarios entre los desarrolladores del software que sera utilizado y los clientes que decidan contratar nuestros servicios</li>



        {% endblock %}






    </body>
















</html> 