<DOCTYPE! html>
    {% extends 'principal.html'%}
    {% load static %}
    <head>
    {% block head %}
 
            <title> Sectores de especializacion </title>
        
    {% endblock %}
    </head>
    <body>

        {% block body  %}

            
            <h2> Sectores de especializacion </h2>
            <br>
            <ul> 
                <li> Llevamos nuestra amplia experiencia en el desarrollo de herramientas tecnologicas a distintos sectores de actividad para soluciones adaptadas a las necesidades especificas a cada area </li>
            <br>
            </ul>
            <h3> Para las asociaciones y fundaciones:  </h3>
            <br>
            <ul>
                <li> Ponemos toda nuestra experiencia en el desarrollo de software a medida y en la implantacion de sistemas de gestion a disposicion de todas aquellas asociaciones y fundaciones que buscan mejorar su metodologia de trabajo a traves de la tecnologia. </li>
            </ul>
            <br>
            <h3> Para finanzas y seguros:  </h3>
            <br>
            <ul>
                <li> Te ayudamos a ahorrar tiempo y a optimizar los flujos de trabajo de tu negocio gracias al desarrollo y la implementacion de soluciones software que ayudaran a mejorar, entre otras cosas, la gestion de la tesoreria, conciliacion de saldos, compensacion de movimientos bancarios, obtencion de informes sobre el flujo de caja y analisis de desviaciones </li>
            </ul>
            <br>    
            <br>
            <h3> Para Ingenierias, Tecnologias y tulitas:  </h3>
            <br>
            <ul>
                <li> Trabajamos de forma personalizada para cada uno de nuestros clientes con el objetivo de ofrecerles herramienttas tegnologicas e innovadoras que les permiten mejorar sus procesos de gestion. Para ello, desarrollamos software a medida que se adapta a las necesidades espesificas de cada organizacion</li>
                <br>
            </ul>
                <h3> Para internet y contenido:  </h3>
                <br>


                <ul>
                    <li> Desarrollamos soluciones tecnologicas que te permitiran gestionar facilmente grandes volumenes de datos. A traves de plataforma web o aplicaciones moviles a medida para tu negocio, podra ofrecer a tus clientes un valor añadido a la hora de acceder a la informacion. Ofertas geolocalizadas, gestion de recompensas, consultas de resultados. </li>
                </ul>
            <br>    

            </p>
             <img src = "{% static "imagenes/informatica.jpg" %}" alt = "imagen"  width = "1212mx" height = "250mx" /> 

        {% endblock %}








        
    </body>
















</html> 