<DOCTYPE! html >
{% extends 'principal.html' %}
    <head>
    {%block title%}
        <title> Servicos </title>    
    {% endblock %}
    </head>
    <body>

        {% block body %}
            <h2> Servicios empresariales </h2>
            <br>
            <p> 
                <ul>
                    <li> Igualas para mantenimiento y soporte de equipos </li>
                    <br>
                    <li> Instalacion y configuracion de Windows </li>
                    <br>
                    <li> Instalacion de base de datos SQL  </li>
                    <br>
                    <li> Instalacion de redes LAN </li>
                    <br>
                    <li> Cableado estructurado </li>
                    <br>
                    <li> Desarrollo de aplicaciones a la medida </li>
                    <br>
                    <li> Desarrollo de portales empresariales </li>
                    <br>
                    <li> Instalacion y configuracion de SharePoint - Portales internet </li>
                    <br>
                    
                    
                </ul>    
                <br>
                <br>
                <br>
            </p>
                <h3> Sofware indispensable para tu negocio </h3>
                <br>


            <p>
                <ul>
                    <li> <strong> Sistema de facturacion </strong>  </li>
                    <br>
                    <li> <strong> Puntos de venta </strong>  </li>
                    <br>
                    <li> Sistema de facturacion para <strong> restaurantes </strong> </li>
                    <br>
                    <li> Sistema de facturacion para <strong> tiendas </strong></li>
                    <br>
                    <li> Sisttema de facturacion para <strong> supermercado </strong> </li>
                    <br>
                    
                    </ul>

            </p>
            <br>
            <br>
            <h3> Potente software punto de venta </h3>
            <br>

            <ul>
                <li> Sistema de facturacion para <strong> farmacias </strong> </li>
                <br>
                <li> Punto de venta para  <strong> farmacias </strong> </li>
                <br>
                <li> Punto de venta para  <strong> tiendas</strong></li>
                <br>
                <li> Punto de venta para restaurantes <strong> restaurantes </strong></li>
                <br>
                <li> Punto de venta <strong> Licor Store </strong></li>
            </ul>
            <br>
            <br>
            <br>
            <h3> Soliciones para tu negocio </h3>


            <br>

            <ul>
                <li> Sistema de <strong> nomina </strong> </li>
                <br>
                <li> Sistema de  <strong> prestamos </strong> </li>
                <br>
                <li> Sistema de  <strong> contabilidad</strong></li>
                <br>
                <li> Sistema de <strong> citas y reservaciones </strong></li>
                <br>
                <li> Sistema para <strong> Esteticas </strong></li>
            </ul>

            <br>
            <br>
            <h3> Sistema de facturacion </h3>
            <br>
            <ul>
                <li> Sofware de <strong> nomina </strong></li>
                <br>
                <li> Sofware de <strong>prestamos </strong></li>
                <br>
                <li> Software de <strong>contabilidad</strong></li>
                <br>
                <li> Software de <strong>citas y reservaciones</strong></li>
                <br>
                <li> Sofware para <strong> Estetica</strong></li>
            </ul>


        {% endblock %}

    </body>
<html>
